QLabel[whatsThis="TreeNode"]
{
    border: 1px solid black;
}
QLabel[whatsThis="TreeNode"][gender="female"]
{
    background-color: #FCE4EC;
}
QLabel[whatsThis="TreeNode"][gender="male"]
{
    background-color: #E1F5FE;
}
QLabel[whatsThis="TreeNode"][gender="other"]
{
    background-color: #FAFAFA;
}
QLabel[whatsThis="TreeNode"][selected=true]
{
    font-weight: bold;
}
QLabel[whatsThis="TreeNode"][marked=true]
{
    border: 1px solid red;
}
QLabel[whatsThis="Errmsg"] {
    color:  red;
}
